---
title: L'Atelier
layout: default
---

<section class="normal">
  <div class="home">
    <h1 id="title">L'Atelier des Médias, le <em>coworking</em> associatif</h1>
    <picture id="helene">
      <img src="/assets/helene.jpg" />
    </picture>
    <a id="joinus" class="button" href="/nous-rejoindre">Rejoignez-nous !</a>
    <picture id="balcon">
      <img src="/assets/balcon.jpg" />
    </picture>
    <figure id="quote">
      <blockquote>Les collègues sont beaux et sentent bons, le café est gratuit.</blockquote>
      <hr />
      <figcaption>Mathieu Martinière</figcaption>
    </figure>
  </div>
</section>
<ul class="facts">
  {% for fact in site.data.facts %}
    <li>
      <div>{{ fact.line1 }}</div>
      <div>{{ fact.line2 }}</div>
    </li>
  {% endfor %}
</ul>

<section class="normal">
  <h2>Un espace collaboratif et associatif</h2>

  <div>
    <p>L'Atelier des Médias est un projet collectif et innovant de coworking à Lyon, un espace partagé de travail,
    imaginé par et pour les professionnels indpéendants des médias, du web et de l'image.
    Ce lieu porte une volonté d'<em>ouverture et d'innovation</em>, des ambitions partagées,
    une dimension sociétale, un esprit collaboratif pour que les indépendants développent ensemble de nouvelles
    <em>solidarités professionnelles</em>.
    </p>

    <p>Se réunir au sein du coworking permet de tisser de nouveaux liens,
    de ofrger des relations d'estime mutuelle, de confiance, et de susciter
    une dynamique professionnelle. </p>
  </div>
  <a class="button">Découvrir l'asso</a>
  <img src="/assets/coworkers-02.png" />
  </div>
  <div class="features">
    {% for feature in site.data.features %}
      <figure>
        <img src="{{ feature.icon | prepend: '/assets/icons/' | append: '.svg' | relative_url }}"
             alt="{{ feature.text }}" />
        <figcaption>{{ feature.text }}</figcaption>
      </figure>
    {% endfor %}
  </div>
</section>
